name: link
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  
  flutter:
    sdk: flutter
  lottie: ^2.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/images/
    - assets/images/Dashboard/
    - assets/images/Permit/
    - assets/images/Lawyer/
    - assets/images/Missing/
    - assets/images/Fine/
    - assets/images/Case/
    - assets/images/Emergency/
    



    